.userCard
  border: 1px solid black
  margin: 20px
  padding: 10px
  max-width: 300px
  display: inline-block
  &:hover
    cursor: pointer

.button
  margin: 10px 0 0 0
  border: 1px solid blue
  box-shadow: none
  &:hover
    box-shadow: 0 0 0 1px blue