.wrapper
  width: 1000px
  margin: 0 auto
  display: flex
  
.cardApi
  margin: 10px
  padding: 10px
  border: 1px solid red
  width: 150px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around
  text-align: center
  text-decoration: none
  color: black
  &:focus
    color: black

  &:hover 
    cursor: pointer

.header
  font-size: 26px
  margin: 10px 0

.description
  font-size: 20px
  margin: 5px 0