$padding_fields: 20px
$width_fields: calc( 100% - #{$padding_fields*2} )
  
.h1 
  background-color: #c3c3c3

.wrapper, .loginForm
  display: flex
  justify-content: center
  align-items: center

.wrapper
  width: 100%
  height: 100vh

.loginForm
  flex-direction: column
  padding: $padding_fields

.label
  text-align: center

.input, .button
  font-size: 26px
  border-radius: 10px
  border: 1px solid #c3c3c3

.input
  width: $width_fields
  padding: 10px
  margin: 10px 0

.button
  width: 100%
  padding: 5px

  &:hover
    cursor: pointer

.link
  margin: 15px 0 0 0
  width: $width_fields
