.wrapper
  // display: flex
  // justify-content: space-around
  max-width: 500px
  margin: 0 auto
  border: 1px solid black

.input
  width: 200px
  margin: 10px 20px

  &Important
    border: 2px solid red

.textarea
  display: block
  resize: none
  height: 70px
  margin: 10px auto
  width: 70%

.button
  margin:  20px 0 0 0
  width: 100%
  text-align: center
  line-height: 30px